__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

node_modules/
dist/
.DS_Store

*.db
*.sqlite3

# Testes e Cobertura
.coverage
htmlcov/

# Configurações sensíveis de infra
k8s/secret.yaml
k8s/ingress.yaml